<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="libs/Materialize/dist/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/Materialize/dist/js/materialize.min.js"></script>
</head>
<body>
	<div class="__container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>