{% extends "layout.html" %}

{% block content %} 
 
<table class="responsive-table highlight centered">
  <thead>
    <tr>
        <th >Имя</th>
        <th>Телефон</th>
        <th>E-mail</th>
        <th>Заказ</th>
        <th>Дата</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
  </thead>

  <tbody>
    {% for order in orders %}
      <tr>
        <td>{{ order.name }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.title }}</td>
        <td><span class="js-moment" data-time="{{ order.date }}"></span></td>
        <td>{{ order.status_id }}</td>
        <td>
        	<a href="/delete/{{ order.id }}" class="btn-floating red"><i class="material-icons">clear</i></a>
  	      <a href="/edit/{{ order.id }}" class="btn-floating lue-grey"><i class="material-icons">create</i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="center">	
	<ul class="pagination">
	  <li class="waves-effect active"><a href="#!">1</a></li>
	  <li class="waves-effect"><a href="#!">2</a></li>
	  <li class="waves-effect"><a href="#!">3</a></li>
	  <li class="waves-effect"><a href="#!">4</a></li>
	  <li class="waves-effect"><a href="#!">5</a></li>
	</ul>
</div>

{% endblock %}