{% extends "layout.html" %}

{% block content %} 
 
<table class="responsive-table highlight centered">
  <thead>
    <tr>
        <th >Имя</th>
        <th>Телефон</th>
        <th>E-mail</th>
        <th>Заказ</th>
        <th>Дата</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
  </thead>

  <tbody>
    {% for order in orders %}
      <tr>
        <td>{{ order.name }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.title }}</td>
        <td><span class="js-moment" data-time="{{ order.date }}"></span></td>
        <td>{{ order.status }}</td>
        <td>
        	<a href="/delete/{{ order.id }}?page={{ page }}" class="btn-floating red"><i class="material-icons">clear</i></a>
  	      <a href="/edit/{{ order.id }}?page={{ page }}" class="btn-floating lue-grey"><i class="material-icons">create</i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="center">	
	<ul class="pagination">
    {% if pages|length <= 1 %}
    {% else %}
  		{% for page in pages %}
  	  	<li class="waves-effect {{ page.class }}"><a href="/?page={{ page.item }}">{{ page.item }}</a></li>
  	  {% endfor %}
    {% endif %}
	</ul>
</div>

{% endblock %}